<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.wanxi.dao.order.WxTabOrderItemMapper">

    <select id="findByPayStatusAndConsignStatus" resultType="java.util.Map">
        select
            oi.id as orderItemId,
            o.id as id,
            o.total_num as totalNum,
            o.total_money as totalMoney,
            o.pre_money as preMoney,
            o.post_fee as postFee,
            o.pay_money as payMoney,
            o.pay_type as payType,
            o.create_time as createTime,
            o.update_time as updateTime,
            o.pay_time as payTime,
            o.consign_time as consignTime,
            o.end_time as endTime,
            o.close_time as closeTime,
            o.shipping_name as shippingName,
            o.shipping_code as shippingCode,
            o.username as username,
            o.buyer_message as buyerMessage,
            o.buyer_rate as buyerRate,
            o.receiver_contact as receiverContact,
            o.receiver_mobile as receiverMobile,
            o.receiver_address as receiverAddress,
            o.source_type as sourceType,
            o.transaction_id as transactionId,
            o.order_status as orderStatus,
            o.pay_status as payStatus,
            o.consign_status as consignStatus,
            o.is_delete as isDelete
        from
            wx_tab_order_item oi
        inner join
            wx_tab_order o
        on
            oi.order_id=o.id
        where 1=1
        <if test="payStatus != null and payStatus!= ''">
            and o.pay_status = #{payStatus}
        </if>
        <if test="consignStatus != null and consignStatus!= ''">
            and o.consign_status = #{consignStatus}
        </if>
    </select>


</mapper>
