<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.wanxi.dao.order.WxTabOrderMapper">

    <select id="selectByIds" resultType="com.cn.wanxi.model.order.WxTabOrder">
        select
            *
        from
            wx_tab_order
        where
            id
         in
        <foreach collection='ids' item='item' open='(' separator=',' close=')'>
            #{item}
        </foreach>
    </select>

</mapper>
