<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.wanxi.dao.order.WxTabOrderItemMapper">

    <select id="findByPayStatusAndConsignStatus" resultType="java.util.Map">
        select
            oi.id as order_item_id,
            o.id,
            o.total_num,
            o.total_money,
            o.pre_money,
            o.post_fee,
            o.pay_money,
            o.pay_type,
            o.create_time,
            o.update_time,
            o.pay_time,
            o.consign_time,
            o.end_time,
            o.close_time,
            o.shipping_name,
            o.shipping_code,
            o.username,
            o.buyer_message,
            o.buyer_rate,
            o.receiver_contact,
            o.receiver_mobile,
            o.receiver_address,
            o.source_type,
            o.transaction_id,
            o.order_status,
            o.pay_status,
            o.consign_status,
            o.is_delete
        from
            wx_tab_order_item oi
        inner join
            wx_tab_order o
        on
            oi.order_id=o.id
        where 1=1
        <if test="payStatus != null and payStatus!= ''">
            and o.pay_status = #{payStatus}
        </if>
        <if test="consignStatus != null and consignStatus!= ''">
            and o.consign_status = #{consignStatus}
        </if>
    </select>


</mapper>
