<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.wanxi.dao.address.WxTabAddressDao">

    <select id="get" resultType="com.cn.wanxi.model.address.WxTabAddress">
       select
            *
       from
            wx_tab_address
       where
            id=#{id}
    </select>

    <select id="find" resultType="com.cn.wanxi.model.address.WxTabAddress">
       select
            *
       from
            wx_tab_address
    </select>

    <insert id="insert" parameterType="com.cn.wanxi.model.address.WxTabAddress">
        insert into
            wx_tab_address
                (receiver_address,
                receiver_name,
                receiver_phone,
                username,
                is_default)
        value
            (#{wxTabAddress.receiverAddress},
            #{wxTabAddress.receiverName},
            #{wxTabAddress.receiverPhone},
            #{wxTabAddress.username},
            #{wxTabAddress.isDefault})
    </insert>

    <update id="update" parameterType="com.cn.wanxi.model.address.WxTabAddress">
        update
            wx_tab_address
        set
            receiver_address=#{wxTabAddress.receiverAddress},
            receiver_name=#{wxTabAddress.receiverName},
            receiver_phone=#{wxTabAddress.receiverPhone},
            username=#{wxTabAddress.username},
            is_default=#{wxTabAddress.isDefault}
        where
            id=#{wxTabAddress.id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from
            wx_tab_address
        where
            id=#{id}
    </delete>

    <update id="updateIsDefault" parameterType="com.cn.wanxi.model.address.WxTabAddress">
        update
            wx_tab_address
        set
            is_default=#{isDefault}
        <if test="username != null and username!= ''">
            where username=#{username}
        </if>
    </update>

</mapper>
