<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.wanxi.dao.productdetails.ProductDetailsDao">
    <select id="productDetails" resultMap="getProductDetailsDao">
        select *  from wx_tab_sku t1,wx_tab_spu t2
        where t1.spu_id=t2.id and
        t2.id = #{id}
    </select>
    <resultMap id="getProductDetailsDao" type="com.cn.wanxi.model.cart.WxTabSpu">
        <id property="id" column="id"/>
        <result property="sn" column="sn"/>
        <result property="name" column="name"/>
        <result property="brandId" column="brand_id"/>
        <result property="category1Id" column="category1_id"/>
        <result property="category2Id" column="category2_id"/>
        <result property="category3Id" column="category3_id"/>
        <result property="templateId" column="template_id"/>
        <result property="freightId" column="freight_id"/>
        <result property="image" column="image"/>
        <result property="images" column="images"/>
        <result property="saleService" column="sale_service"/>
        <result property="introduction" column="introduction"/>
        <result property="specItems" column="spec_items"/>
        <result property="paraItems" column="para_items"/>
        <result property="saleNum" column="sale_num"/>
        <result property="commentNum" column="comment_num"/>
        <result property="isMarketable" column="is_marketable"/>
        <result property="isEnablePec" column="is_enable_pec"/>
        <result property="isDelete" column="is_delete"/>
        <result property="status" column="status"/>
        <association property="wxTabSku"  javaType="com.cn.wanxi.model.cart.WxTabSku">
            <id property="id" column="id"></id>
            <result property="sn" column="sn"/>
            <result property="name" column="name"/>
            <result property="price" column="price"/>
            <result property="num" column="num"/>
            <result property="alertNum" column="alert_num"/>
            <result property="image" column="image"/>
            <result property="images" column="images"/>
            <result property="weight" column="weight"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
            <result property="spuId" column="spu_id"/>
            <result property="categoryId" column="category_id"/>
            <result property="categoryName" column="category_name"/>
            <result property="brandName" column="brand_name"/>
            <result property="spec" column="spec"/>
            <result property="saleNum" column="sale_num"/>
            <result property="commentNum" column="comment_num"/>
            <result property="status" column="status"/>
        </association>

    </resultMap>

    <select id="search" resultType="com.cn.wanxi.model.productdetails.ProductSearch">
        select w.id,w.name,w.caption,w.brand_id,w.category1_id,w.category2_id,
            w.category3_id,w.freight_id,w.image,w.images,w.introduction,w.para_items,w.sale_service,
            w.sn,w.spec_items,w.template_id
            from wx_tab_spu w
            <where>
                <if test="conditionpara != null">
                    name like '%${conditionpara}%'
                </if>
                <if test="categoryId3 != null ">
                    or category3_id like '%${categoryId3}%'
                </if>
            </where>
    </select>

</mapper>
