<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.wanxi.dao.cart.WxTabSpuDao">
    <select id="findByIds" resultType="com.cn.wanxi.model.cart.WxTabSpu">
        select
            *
        from
            wx_tab_spu
        where
            id
        in
        <foreach collection='ids' item='item' open='(' separator=',' close=')'>
            #{item}
        </foreach>
    </select>
</mapper>
