<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.wanxi.dao.user.WxTabReturnOrderItemDao">
    <insert id="insert" parameterType="com.cn.wanxi.model.user.WxTabReturnOrderItem">
        insert into
            wx_tab_return_order_item
            (category_id,
            spu_id,
            sku_id,
            order_id,
            order_item_id,
            return_order_id,
            title,
            price,
            num,money,
            pay_money,
            image,weight)
        values
            (#{wxTabReturnOrderItem.categoryId},
            #{wxTabReturnOrderItem.spuId},
            #{wxTabReturnOrderItem.skuId},
            #{wxTabReturnOrderItem.orderId},
            #{wxTabReturnOrderItem.orderItemId},
            #{wxTabReturnOrderItem.returnOrderId},
            #{wxTabReturnOrderItem.title},
            #{wxTabReturnOrderItem.price},
            #{wxTabReturnOrderItem.num},
            #{wxTabReturnOrderItem.money},
            #{wxTabReturnOrderItem.payMoney},
            #{wxTabReturnOrderItem.image},
            #{wxTabReturnOrderItem.weight})
    </insert>

</mapper>
