<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.wanxi.dao.user.WxTabReturnCauseDao">
    <select id="find" resultType="com.cn.wanxi.model.user.WxTabReturnCause">
       select
            *
       from
            wx_tab_return_cause
       where
            cause=#{wxTabReturnCause.cause}
       and
            status=#{wxTabReturnCause.status}
    </select>

    <insert id="insert" parameterType="com.cn.wanxi.model.user.WxTabReturnCause">
        insert into
            wx_tab_return_cause(cause,
                                seq,
                                status)
        values
            (#{wxTabReturnCause.cause},
            #{wxTabReturnCause.seq},
            #{wxTabReturnCause.status})
    </insert>

</mapper>
